*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  
  }
  
#container{
    background: #dde1e7;
    width: 80%;
    margin: auto;
}

.text-center{
    text-align: center;
}

#top{
   
    font-size: 3.5em;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288);
}

.main{
        
}

p{
    font-size: 1em;;
}

.img{
    display:inline-flex;
    height: 200px;
    margin-top: 20px;
   
}

.img:hover{
    transform:scale(1.1);
}

.box{
    margin:10px;  
    padding: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288);
}


#alpha{
    flex:1;
    /* background-color: orange; */

}

#bravo{
    flex:1;
    /* background-color: red; */
}

h2{
    font-size: 2em;
    background: #dde1e7;
    /* border-radius: 5px;
    box-shadow:  inset -3px -3px 7px #ffffff73,
                 inset 2px 2px 5px rgba(94,104,121,0.288); */
}

h2 a{
    color:black;
    text-decoration: none;
       
}

h2 a:hover{

    padding: 2px;
    color: white;
    font-size: 1.2em;
    
}


.ptext{
    font-size: 1.5em;
    
}


