*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  
  }
  
  
  body{
    /* font-family: Arial, Helvetica, sans-serif; */

    font-family: 'Dancing Script', cursive;
    line-height: 1.4;
  }
  
  a{
    color: #333;
    text-decoration: none;
  }
  
  /*
    MAIN
  
  */


  #container{
    width: 80%;
    margin: auto;
    background-color:floralwhite;
    padding-top:73px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .text-center{
    text-align: center;
}

    /*
            NAV BAR
  
  */
  #menu1{
      padding: 20px;
      background-color: #ff8000;
    position: fixed;
    width:100%;
  }

  #menu1 li{
    display: inline;
    padding: 20px;
    font-size: 1.5em;
}

#menu1 a li:hover{
    background-color:#ff9900;
    color: white;
    
}
 /*
  
  JEFF PAGE
  */


#nameJeff{
    font-size: 5em;
    margin: 2px;  
}

#picJeff{
    height: auto;
    width: auto; 
}

#netJeff{
    font-size: 2em;

}

#pJeff{
    font-size: 1.5em;
    font-family: "Times New Roman", cursive;
}

#readJeff{
    color: blue;
  
}
#readJeff:hover{
    color: white;
    background-color: #ff8000;
  
}

#ahrefSpend{
    background-color:  #ff8000;   
    padding: 10px;
    font-size: 2.5em;


}

#ahrefSpend:hover{
 
    background-color:#ff9900;
    color: white;

}

 /*
    SPEND IT PAGE
  
  */

  #top{
      font-size: 2em;
        position: fixed;
        width: 80%;
        color:  #ff8000;   
  }
  
  #restart{
      padding-top: 85px;
      background: white;
  }

  
 
.flexes{
    display: flex;
    flex-direction:row;
    text-align: center;
    height: 340px;
    background-color: white;
    font-size: 1.2em;
    


}

#flex1
{
    flex: 1;
    order: 1;
    background-color: beige;
    
    
    border-right:5px;
    border-right-color: white;
    border-right-style:solid;
}

    #flex2
{
    flex: 1;
    order: 2;
    background-color: aquamarine;
    
    border-right:5px;
    border-right-color: white;
    border-right-style:solid;
}

    #flex3
{
    flex: 1;
    order: 3;
    background-color: gray;
}


.itemImage
{
width: 100%;
height: 200px;
}


#br
{
    background: white;
    height: 5px;
}

#info{
    margin: 50px;
    padding: 50px;
    font-size: 2em;
    background-color: aliceblue;

    
}

button{
    padding: 5px 10px;
    font-size: large;
    
}




.flexes p {
    font-size: larger;
}

.btn-buy{
    background-color: steelblue;
}

.btn-buy:hover{
    transform: scale(1.2);
}

.btn-restart{
    background-color: dimgrey;
    color: white;
}

.btn-restart:hover{
    transform: scale(1.2);
}